
body{
  align-content: center;
  align-items: center;
  background-color: #e9f9ff00;
}
.drop{
  text-align: center;
  align-items: center;
}
.in{
  text-align: center;
  font-size: large;
  box-sizing: border-box;
  border-radius: 10px;
}
/* Styling for the dropdown menu */
.in select {
width: 200px;
height: 40px;
padding: 10px;
font-size: 16px;
font-weight: bold;
color: #fff;
border: none;
background: #02102d; /* Custom color */
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

/* Styling for the options */
.in select option {
font-size: 16px;
font-weight: bold;
color: #000;
background: #fff;
}
canvas {
height: 70vh;
} 

/* Styling for the selected option */
.in select option:checked {
background: #3b5998; /* Custom color */
color: #fff;
}
.chart{
margin-top: 10px;
margin-bottom: 10px;
border-radius: 10px;
box-sizing: border-box;
background-color: hsla(244, 41%, 29%, 0.381);
}
.banner{
background-color: #3b5998;
box-sizing: border-box;
border-radius: 5px;
padding-bottom: 20px;
}
body{
    align-content: center;
    align-items: center;
    background-color: #e9f9ff00;
  }
  .drop{
    text-align: center;
    align-items: center;
  }
  .in{
    text-align: center;
    font-size: large;
    box-sizing: border-box;
    border-radius: 10px;
  }
/* Styling for the dropdown menu */
.in select {
  width: 200px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  background: #02102d; /* Custom color */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Styling for the options */
.in select option {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background: #fff;
}
canvas {
  height: 70vh;
} 

/* Styling for the selected option */
.in select option:checked {
  background: #3b5998; /* Custom color */
  color: #fff;
}
.chart{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: hsla(244, 41%, 29%, 0.381);
}
.banner{
  background-color: #3b5998;
  box-sizing: border-box;
  border-radius: 5px;
  padding-bottom: 20px;
} 
.button1 {
  display: inline-block;
  background-color: #042e48;
  color: #0b0404;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}